
/* 
Review:  
  - Global variables in separate file? 
  - Other stuff that is being used across file boundaries?
  - :root stuff in separate files? 
*/


.chessboard {
  border-spacing: 0;
  border-collapse: collapse;
}

.chessboard th {
  padding: 0.5em;
}

.chessboard th+th {
  border-bottom: 1px solid var(--clr_black);
}

.chessboard th:first-child,
.chessboard td:last-child {
  border-right: 1px solid var(--clr_black);
}

.chessboard tr:last-child td {
  border-bottom: 1px solid;
}

.chessboard th:empty {
  border: none;
}

.chessboard td {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  font-size: 32pt;
  line-height: 0;
}

.chessboard .light {
  background-color: var(--clr_light);
}

.chessboard .dark {
  background-color: var(--clr_dark);
}