
:root {
    /* Variables. Review: Where to place finally? */
    --clr_dark: #aaa;
    --clr_light: #eee;
    --clr_black: black;
    --clr_white: white;
  
    /* Global settings */
    * {
      font-size: 14pt;    
    }
  }